packages:
  yum:
    wget: []
    tar: []

commands:
  01-download-ffmpeg:
    command: "wget -O /tmp/ffmpeg.tar.xz https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-3.4.2-64bit-static.tar.xz"

  02-create-dir:
    command: "mkdir -p /opt/ffmpeg"

  03-extract:
    command: "tar -xvf /tmp/ffmpeg.tar.xz -C /opt/ffmpeg --strip-components=1"

  04-link-ffmpeg:
    command: "ln -sf /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg"

  05-link-ffprobe:
    command: "ln -sf /opt/ffmpeg/ffprobe /usr/bin/ffprobe"
