<mjml>
  <mj-head>
    <mj-font
      name="Pretendard"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <mj-attributes>
      <mj-all font-family="Pretendard, Arial" color="#404040" />
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section
      background-color="#ffffff"
      border="1px solid #E5E7EB"
      border-radius="8px"
      padding="20px"
    >
      <mj-column>
        <mj-image
          width="90px"
          height="40px"
          src="https://raw.githubusercontent.com/cholulu99/commandTrackerImage/main/3f4-7420ead14100-removebg-preview.png"
        ></mj-image>
        <mj-spacer height="20px"></mj-spacer>
        <mj-text align="center" font-size="16px" line-height="1.5">
          command Tracker 서비스를 사용해주셔서 감사합니다.
        </mj-text>
        <mj-text align="center" font-size="16px" line-height="1.5">
          요청하신 캐릭터의 커맨드는 자막으로 보여집니다.
        </mj-text>
        <mj-divider border-color="#E5E7EB" border-width="1px"></mj-divider>
        <mj-text align="center" font-size="16px">
          아래는 스트리트파이터 6의 기본 공격 커맨드입니다:
        </mj-text>
        <mj-text align="center" font-size="14px">
          <p>LP: 약펀치</p>
          <p>MP: 중간펀치</p>
          <p>HP: 강펀치</p>
          <p>LK: 약발</p>
          <p>MK: 중발</p>
          <p>HK: 강발</p>
        </mj-text>
        <mj-button
          align="center"
          href="<%= url %>"
          background-color="#007BFF"
          color="#ffffff"
        >
          영상 다운로드
        </mj-button>
        <mj-divider border-color="#E5E7EB" border-width="1px"></mj-divider>
        <mj-text align="center" font-size="12px" line-height="1.75">
          <a
            href="https://www.naver.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >웹사이트</a
          >
        </mj-text>
        <mj-text
          align="center"
          font-family="Pretendard, Arial"
          font-size="12px"
          line-height="1"
        >
          © command Tracker. All Rights Reserved.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
